@import "./mixin";
@import "./var";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    @include flex-spb();
    width:100%;
    background-color: $whiteColor;

    ul{
        list-style-type: none;
        @include flex-center();
        gap: 2rem;
        li{
            a{
                text-decoration: none;
                color: $blackColor;
            }
        }
        
    }

    .header-btn{
        @include flex-center();
        background-color: $primarycolor;
        padding: 2.3rem;
        color: $whiteColor;
        font-size: 1.3rem;
    }
}

